

* {
    margin: 0;
    padding:0;
    box-sizing:0;
}

a {
    color: black;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    padding: 2rem;
}

.list-bullets {
    list-style-type: none;
}

.hero {
    min-height: 90vh;
    background-image: url(/img/pexels-maria-orlova-4969993.jpg);
    background-size: cover;
    background-position: center;
    color: turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h2 {
    text-align: center;
    margin: 2rem;
}

.hero button {
    padding: 1rem 2rem;
    background: rgb(190, 230, 243);
    border: none;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.intro img {
   width: 100%;
   justify-content: center;
}

.intro-img {
    flex: 1 1 30rem;
    background-color: lightcoral;
    
}

.intro-text {
    text-align: center;
    flex: 1 1 30rem;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text h2 {
    padding: 2rem;
}

.intro-text p {
    padding: 1rem;
}
